
/****************************** General ***********************************/

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --main-color:#D0AC00 ;
}


/*************************** NavBar**********************************/

.nav-bar{
    height:80px;
    width:100%;
    background: #000;
    font-family: 'Sen', sans-serif;
}

.nav-bar .navbar-container{
    display:flex;
    align-items: center;
    padding:0 50px;
    height:100%;
    color:#fff;
}

.nav-bar .navbar-container .logo{
    flex: 1;
}

.nav-bar .navbar-container .logo a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color: var(--main-color);
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
}

.nav-bar .navbar-container .logo a span{
    font-size: 40px;
    color: var(--main-color);
}

.nav-bar .navbar-container .menu{
    flex: 3;
    margin-left: 60px;
}

.nav-bar .navbar-container .menu ul{
    list-style: none;
    display: flex;
}

.nav-bar .navbar-container .menu ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
    margin-right: 30px;
}

.nav-bar .navbar-container .menu ul a:hover,
.nav-bar .navbar-container .menu ul a.active,
.nav-bar .navbar-container .menu-bar .toggle-menu ul a:hover,
.nav-bar .navbar-container .menu-bar .toggle-menu ul a.active
{
    color: var(--main-color);
}

.nav-bar .navbar-container .menu-bar{
    display: none;
    flex:1;
    text-align: center;
}

.nav-bar .navbar-container .menu-bar i{
    font-size: 30px;
    cursor: pointer;
}

.nav-bar .navbar-container .menu-bar .toggle-menu{
    display: none;
    position: relative;
}

.nav-bar .navbar-container .menu-bar .toggle-menu.open{ 
    display: block;
}

.nav-bar .navbar-container .menu-bar .toggle-menu ul{
    list-style: none;
    background: #151515;
    padding: 20px 0;
    border-radius:  0 0 6px 6px;
    border: 1px solid var(--main-color);
    position: absolute;
    top:25px;
    left: 50%;
    transform: translateX(-50%);
    width:300px;
}

.nav-bar .navbar-container .menu-bar .toggle-menu ul li a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 6px;
    text-align: center;
}

.nav-bar .navbar-container .profile{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .navbar-container .profile img{
    width:36px;
    height:36px;
    border-radius:50%;
    object-fit: cover;
}

.nav-bar .navbar-container .profile .text{
    margin:0 10px;
}

.nav-bar .navbar-container .color-themes{
    flex: 1;
    background: #fff;
    max-width:40px;
    height:20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.nav-bar .navbar-container .color-themes i.fa-sun{
    color:rgb(255, 114, 62) ;
}

.nav-bar .navbar-container .color-themes i.fa-moon{
    color:rgb(221, 221, 221) ;
}


.nav-bar .navbar-container .color-themes .toggle-ball{
    position: absolute;
    width:18px;
    height:18px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
    cursor: pointer;
    right: 1px ;
    transition: all ease-in-out 400ms ;
}


/****** Media Query ******/


@media(max-width:1100px){

    .nav-bar .navbar-container .menu{
        flex: 3;
        margin-left: 40px;
    }

    .nav-bar .navbar-container .menu ul li a{
        margin-right: 20px;
    }

}


@media(max-width:991px){

    .nav-bar .navbar-container .menu{
        display: none;
    }

    .nav-bar .navbar-container .menu-bar{
        display: block;
    }

}


@media(max-width:650px){
    
    .nav-bar{
        height: auto;
        padding: 20px;
    }
    
    .nav-bar .navbar-container{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    
    .nav-bar .navbar-container .logo{
        min-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .nav-bar .navbar-container .menu-bar .toggle-menu ul{
        top:23px;
        transform: translateX(-13px);
        width:220px;
    }

}


@media(max-width:460px){

    .nav-bar .navbar-container .logo{
        margin-left: -15px;
        position: relative;
        z-index: 3;
    }

    .nav-bar .navbar-container .profile .text span{
        display: none;
    }

}



/**************************** SideBar **********************************/

.side-bar{
    width:50px;
    height:100%;
    background: black;
    color:#fff;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center; 
}

.side-bar i{
    font-size: 23px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.side-bar i:hover{
    color:var(--main-color)
}


/****** Media Query ******/

@media(max-width:650px){
    
    .side-bar{
        padding-top: 160px;
    }

}


/***************************** Container ************************************/


.container{
    background-color:#151515;
    color:#fff;
    min-height:calc(100vh - 80px);
}

.container .content-container{
    margin-left: 50px;
}


/*************************** Featured Content ****************************************/


.featured-content.wildlife{
    background-image : linear-gradient(to bottom , rgb(0,0,0,0) , #151515) , url(../img/01-wildlife.jpg);
}

.featured-content.science{
    background-image : linear-gradient(to bottom , rgb(0,0,0,0) , #151515) , url(../img/02-science.jpg)
}

.featured-content.history{
    background-image : linear-gradient(to bottom , rgb(0,0,0,0) , #151515) , url(../img/03-history.jpg)
}

.featured-content.disaster{
    background-image : linear-gradient(to bottom , rgb(0,0,0,0) , #151515) , url(../img/04-disaster.jpg)
}

.featured-content{
    padding:60px 40px;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
}

.featured-content h2{
    font-family: 'Rubik Distressed', cursive;
    font-size: 36px;
    font-weight:400;
    color:#EC3226;
    text-transform: uppercase;
}

.featured-content p{
    color:rgb(177, 177, 177);
    margin: 30px 0;
    width:40%;
    line-height: 1.5;
}

.featured-content button{
    background: var(--main-color);
    font-weight: bold;
    padding:10px 15px;
    color:#111;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.featured-content button:hover{
    text-decoration: underline;
}


/****** Media Query ******/


@media(max-width:768px){
    
    .featured-content p{
        width:60%;
    }

}


/******************************* Movies Container **************************************/

.movies-container{
    padding:5px 40px;  
}

.movies-container h3{
    margin: 10px 0;
    letter-spacing: .5px;
}

.movies-container .wrapper{
    position: relative;
    overflow: hidden;
}

.movies-container .movies-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0px);
    transition: all ease-in-out 700ms;
}

.movies-container .movies-list .movie {
    min-width: 23%;
    margin-right: 1%;
    margin-left: 1%;
    position: relative;
}

.movies-container .movie img{
    width:100%;
    height: 200px;
    object-fit: cover;
    transition: all ease-in-out 700ms;
    border-radius: 5px;
}

.movies-container .movie h4{
    font-size: 22px;
    font-weight: bold;
    padding:6px 10px 10px 0;
    color: var(--main-color);
    position: absolute;
    top:5%;
    left:3%;
    transition: all ease-in-out 700ms;
    opacity: 0;
    -webkit-text-stroke: 0.1px black; /* works for mozilla, while -moz- didn't, don't know why ?!*/
}

.movies-container .movie p{
    font-size: 14px;
    padding: 20px 0 10px;
    color:#fff;
    position: absolute;
    top:30%;
    left:3%;
    width:90%;
    transition: all ease-in-out 700ms;
    opacity: 0;
}

.movies-container .movie button{
    background: var(--main-color);
    color:#111;
    font-weight: bold;
    padding:8px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top:84%;
    left:3%;
    transition: all ease-in-out 700ms;
    opacity: 0;
}

.movies-container .movie button:hover{
    text-decoration: underline;
}

.movies-container .movies-list .movie:hover img{
    transform: scale(1.15);
    opacity: 0.5;

}

.movies-container .movies-list .movie:hover h4,
.movies-container .movies-list .movie:hover p,
.movies-container .movies-list .movie:hover button
{
    opacity: 1;
}

.movies-container .wrapper i{
    font-size: 100px;
    color:rgba(204, 204, 204, 0.4) ;
    position: absolute;
    cursor: pointer;
    transition: all ease-in-out 700ms;
    bottom:103px;
    -webkit-text-stroke: 0.3px #333;
}

.movies-container .wrapper i:hover{
    color:rgba(204, 204, 204, 0.8) ;

}

.movies-container .wrapper i.arrow-rt{
    right:5px;
}

.movies-container .wrapper i.arrow-left{
    left:5px;
    display: none;
}



/****** Media Query ******/


@media (max-width:1100px){

    .movies-container .movies-list .movie{
        min-width: 29.333%;
        margin-right: 2%;
        margin-left: 2%;
    }

}

@media (max-width:992px){ 

    .movies-container .movies-list .movie{
        min-width: 46%;
        margin-right: 2%;
        margin-left: 2%;
    }

}

@media (max-width:650px){

    .movies-container .movies-list .movie{
        min-width: 70%;
        margin-right: 15%;
        margin-left: 15%;
    }

}

@media (max-width:500px){

    .movies-container .movies-list .movie{
        min-width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .movies-container .movie h4
    {
        font-size: 20px;
        padding:0px 10px 10px 0;
    }

}



/*********************************  Footer ******************************************/


.footer{
    background: black;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

.footer i{
    font-size: 22px;
    color:var(--main-color);
}

.footer a{
    text-decoration: none;
    font-weight: bold;
    color:var(--main-color);
}

.footer a:hover{
    text-decoration: underline;
}



/*******************************  Light Mode *************************************/

.nav-bar.light{
    background:#e5e5e5 ;
}

.nav-bar.light .navbar-container{
    color:#151515;
}

.nav-bar.light .navbar-container .menu ul li a{
    color:#151515;
}

.nav-bar.light .navbar-container .menu ul a:hover,
.nav-bar.light .navbar-container .menu ul a.active,
.nav-bar.light .navbar-container .menu-bar .toggle-menu ul a:hover,
.nav-bar.light .navbar-container .menu-bar .toggle-menu ul a.active
{
    color: var(--main-color);
}

.nav-bar.light .navbar-container .menu-bar .toggle-menu ul{
    background: #e5e5e5;
}

.nav-bar.light .navbar-container .menu-bar .toggle-menu ul li a{
    color:#151515;
}

.nav-bar.light .navbar-container .color-themes{
    background: #424242;
}

.nav-bar.light .navbar-container .color-themes .toggle-ball{
    background: #f5f5f5;
    transform: translateX(-20px);
}

.side-bar.light{
    background: #e5e5e5;
    color: #151515;
}

.container.light{
    background-color:#f5f5f5;
    color:#151515;
}

.container.light .movies-container .movie h4{
    -webkit-text-stroke: 0.3px black; /* works for mozilla, while -moz- didn't, don't know why ?!*/
}

.container.light .movies-container .movie p{
    color:#000;
}

.footer.light{
    background: #e5e5e5;
    color: #151515;
}



/***************************************************************************/